body{
    background: #56CCF2;  /* fallback for old browsers */    
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    display: inline;
}

#smoot{
    width: 80%;
}

#water{
    width: 100%;
    
}

img{
    height: 280px;
}

#input{
    position: relative;
    border: 3px solid black;
}

#comments{
    border: 3px solid black;
    
}